.search-box-column-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-mini);
    background-color: #bdbdbd;
    width: 329px;
    height: 51px;
    opacity: 0.13;
}
.telusuri-komik {
    position: absolute;
    top: 0px;
    left: 10px;
    display: inline-block;
    width: 256px;
    height: 51px;
}
.search-box-column {
    position: absolute;
    top: 14px;
    left: 975px;
    width: 329px;
    height: 51px;
}
.search-box-button-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-mini);
    background-color: var(--color-gainsboro-100);
    width: 76px;
    height: 49px;
}
.cari {
    position: absolute;
    top: 1px;
    left: 12px;
    display: inline-block;
    width: 52px;
    height: 56px;
}
.search-box-button {
    position: absolute;
    top: 14px;
    left: 1342px;
    width: 76px;
    height: 57px;
    font-size: 36px;
    color: #787878;
}
.nama-web {
    position: absolute;
    top: 12px;
    left: 50px;
    font-size: 62px;
    color: var(--color-white);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 55px;
}
.search-button {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #2f2e2e;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1440px;
    height: 79px;
    color: #f0e8e8;
}
.navbar-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--color-steelblue);
    width: 1440px;
    height: 81px;
}
.beranda {
    position: absolute;
    top: 11px;
    left: 335px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 59px;
}
.navbar-item {
    position: absolute;
    top: 14px;
    left: 635px;
    border-right: 2px solid var(--color-gray-100);
    box-sizing: border-box;
    width: 2px;
    height: 53px;
}
.navbar-inner {
    position: absolute;
    top: 14px;
    left: 487px;
    border-right: 2px solid var(--color-gray-100);
    box-sizing: border-box;
    width: 2px;
    height: 53px;
}
.line-div {
    position: absolute;
    top: 14px;
    left: 811px;
    border-right: 2px solid var(--color-gray-100);
    box-sizing: border-box;
    width: 2px;
    height: 53px;
}
.rakbuku {
    position: absolute;
    top: 12px;
    left: 659px;
    font-size: var(--font-size-26xl);
    display: inline-block;
    width: 130px;
    height: 57px;
}
.genre {
    position: absolute;
    top: 17px;
    left: 511px;
}
.daftar-isi {
    position: absolute;
    top: 11px;
    left: 835px;
    font-size: var(--font-size-26xl);
    display: inline-block;
    width: 150px;
    height: 45px;
}
.navbar {
    position: absolute;
    top: 79px;
    left: 0px;
    width: 1440px;
    height: 81px;
}
.trending-child {
    position: relative;
    background-color: var(--color-gainsboro-200);
    width: 863px;
    height: 469px;
    z-index: 0;
}
.trending-item {
    position: relative;
    background-color: var(--color-gainsboro-100);
    width: 600px;
    height: 469px;
    z-index: 1;
    margin-top: -471px;
}
.image-1-icon {
    position: absolute;
    margin: 0 !important;
    top: 2px;
    left: 0px;
    width: 600px;
    height: 467px;
    object-fit: cover;
    mix-blend-mode: screen;
    z-index: 2;
}
.trending-inner {
    position: absolute;
    margin: 0 !important;
    top: 0px;
    left: 632px;
    background-color: var(--color-gainsboro-100);
    width: 233px;
    height: 469px;
    z-index: 3;
}
.image-2-icon {
    position: absolute;
    margin: 0 !important;
    top: 2px;
    left: 632px;
    width: 233px;
    height: 467px;
    object-fit: cover;
    z-index: 4;
}
.trending {
    position: absolute;
    top: 197px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.popular-today-child {
    position: absolute;
    top: 0px;
    left: 2px;
    background-color: var(--color-gainsboro-200);
    width: 863px;
    height: 469px;
}
.popular-today-item {
    position: absolute;
    top: 40px;
    left: 0px;
    background-color: var(--color-gainsboro-100);
    width: 865px;
    height: 3px;
}
.populer-hari-ini {
    position: absolute;
    top: 6px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 177px;
    height: 37px;
}
.popular-today {
    position: absolute;
    top: 703px;
    left: 50px;
    width: 865px;
    height: 469px;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
}
.update-terbaru-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--color-gainsboro-100);
    width: 865px;
    height: 3px;
}
.update-terbaru-item {
    position: absolute;
    top: 3px;
    left: 789px;
    background-color: var(--color-gainsboro-100);
    width: 76px;
    height: 1px;
}
.update-terbaru-inner {
    position: absolute;
    top: 4px;
    left: 2px;
    background-color: var(--color-gainsboro-200);
    width: 863px;
    height: 1763px;
}
.rectangle-div {
    position: absolute;
    top: 48px;
    left: 20px;
    background-color: var(--color-gainsboro-100);
    width: 827px;
    height: 193px;
}
.chapter {
    position: absolute;
    top: 108px;
    left: 181px;
    border-radius: 50%;
    background-color: var(--color-black);
    width: 20px;
    height: 20px;
    /* position: absolute;
    top: 108px;
    left: 181px;
    border-radius: 50%;
    background-color: var(--color-black);
    width: 20px;
    height: 20px; */
}
.rectangle-div a{
    padding-left: 100px;
    padding-top: 100px;
}
.update-terbaru-child1 {
    position: absolute;
    top: 139px;
    left: 181px;
    border-radius: 50%;
    background-color: var(--color-black);
    width: 20px;
    height: 20px;
}
.update-terbaru-child2 {
    position: absolute;
    top: 170px;
    left: 181px;
    border-radius: 50%;
    background-color: var(--color-black);
    width: 20px;
    height: 20px;
}
.update-terbaru1 {
    position: absolute;
    top: 3px;
    left: 8px;
    display: flex;
    align-items: center;
    width: 177px;
    height: 37px;
}
.rectangle-icon {
    position: absolute;
    top: 79px;
    left: 37px;
    width: 100px;
    height: 143px;
    object-fit: cover;
}
.judul-manga {
    position: absolute;
    top: 55px;
    left: 180px;
    font-family: var(--font-comic-neue);
}
.update-terbaru {
    position: absolute;
    top: 1209px;
    left: 55px;
    width: 865px;
    height: 1767px;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
}
.popular-all-time-child {
    position: relative;
    background-color: var(--color-white);
    width: 416px;
    height: 1px;
    z-index: 0;
}
.popular-all-time-item {
    position: relative;
    background-color: var(--color-gainsboro-100);
    width: 414px;
    height: 1500px;
    z-index: 1;
}
.popularity-filter {
    position: absolute;
    margin: 0 !important;
    top: 51px;
    left: 23px;
    background-color: var(--color-white);
    width: 372px;
    height: 22px;
    z-index: 2;
}
.mingguan1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-10xs);
    background-color: var(--color-steelblue);
    width: 124px;
    height: 16px;
}
.mingguan2 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 124px;
    height: 17px;
}
.mingguan {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 124px;
    height: 17px;
}
.bulanan1 {
    position: absolute;
    top: 1px;
    left: 0px;
    border-radius: var(--br-10xs);
    background-color: var(--color-steelblue);
    width: 124px;
    height: 16px;
}
.bulanan {
    position: absolute;
    top: 0px;
    left: 124px;
    width: 124px;
    height: 17px;
}
.selamanya1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-10xs);
    background-color: var(--color-steelblue);
    width: 115px;
    height: 16px;
}
.selamanya2 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 115px;
    height: 17px;
}
.selamanya {
    position: absolute;
    top: 1px;
    left: 248px;
    width: 115px;
    height: 17px;
}
.popularity-filter1 {
    position: absolute;
    margin: 0 !important;
    top: 53px;
    left: 28px;
    width: 363px;
    height: 18px;
    z-index: 3;
}
.populer {
    position: absolute;
    margin: 0 !important;
    top: 2px;
    left: 5px;
    font-size: var(--font-size-11xl);
    display: flex;
    color: var(--color-black);
    text-align: left;
    align-items: center;
    width: 177px;
    height: 37px;
    flex-shrink: 0;
    z-index: 4;
}
.popular-all-time {
    position: absolute;
    top: 197px;
    left: 973px;
    height: 1501px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: center;
    font-size: var(--font-size-smi);
}
.footer-child {
    position: relative;
    background-color: var(--color-steelblue);
    width: 1440px;
    height: 36px;
}
.footer-item {
    position: relative;
    background-color: var(--color-gainsboro-100);
    width: 1440px;
    height: 104px;
}
.footer {
    position: absolute;
    top: 3333px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.desktop-2 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 3473px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
    font-family: var(--font-agency-fb);
}

